html {
  background-color: #eee;
  color: #333;
}

* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;

  font-family: pt-serif, sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: bebas-neue, sans-serif;
}

h1 {
  font-size: 2em;
}

a {
  color: rgb(205, 0, 0);
}

header, .content, footer {
  padding: 0 2em;
}

header {
  position: fixed;
  z-index: 2;
  background-color: #eee;
  left: 0;
  right: 0;
}

  header h1 {
    color: rgb(205, 0, 10);
    font-size: 1.5em;
  }

footer {
  padding: 2em 0;
  font-size: 0.8em;
}

.inner {
  max-width: 320px;
  margin: 0 auto;
}

.content {
  padding: 5em 2em 2em 2em;
  background-color: white;
}

.query-load {
  display: block;

  border-bottom: 1px solid #eee;
  padding: 1em 0.5em;
}
  .query-load:last-child {
    border-bottom: 0;
  }

.search {
  position: relative;
  display: inline-block;
  width: 100%;
}

  .search input[type=text], .search button[type=submit] {
    float: left;
  }

  .search input[type=text] {
    border: 1px solid #eee;
    border-right: 0;
    width: 70%;
    padding: 0 1em;
    font-size: 1em;
    height: 3em;
  }

  .search button[type=submit] {
    border: 1px solid #eee;
    background-color: #333;
    color: white;
    width: 20%;
    font-size: 1em;
    height: 3em;

    font-family: bebas-neue;
  }

  .search button.history {
    outline: 0;
    border: 0;
    background-color: transparent;
    width: 10%;
    height: 3em;
    font-size: 1em;
    cursor: pointer;
  }

    .search button.history svg {
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;

      transition: all 0.3s linear 0s;
    }

    .search button.history svg path {
      transition: all 0.3s linear 0s;
      fill: #aaa;
    }

    .search.history-open button.history svg {
      transform: rotate(180deg);
    }

    .search.history-open button.history svg path {
      fill: #333;
    }

    .search .histories, .search .results {
      position: absolute;
      top: 4em;
      left: 0;
      right: 0;
      padding: 0 1em;
      border: 1px solid #eee;
      background-color: white;
      display: none;
    }

    .search .results {
      right: auto;
      width: 70%;
    }

      .search .results .loading {
        width: 2em;
      }

    .search.history-open .histories {
      display: block;
    }

      .search .results.results-open {
        display: block;
      }


img.thumb {
  width: 100px;
  height: auto;
  float: left;
  margin: 0.2em 1em 1em 0;
}

.article {
  line-height: 1.5em;
}

.loading {
  display: none;
  margin: 0 auto;
  width: 3em;
  height: auto;
  padding: 1em 0;
}

  .loading.show {
    display: block;
  }

.empty-list {
  display: none;
  padding: 1em 0;
}

  .empty-list.show {
    display: block;
  }

.no-connection {
  display: none;
  padding: 1em 0;
}

  .no-connection.show {
    display: block;
  }
